<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="Aditya commerce classes,kosi kalan India,adityakosikalan,adityacommerceclasseskosikalan,kosikalan,adityacommerceclasses,aditya,AdityaClasses,ADITYA,ADITYACOMMERCECLASSES,ADITYACOMMERCECLASSES.COM,adityacommerceclasses.com">
<title>AdityaClasses</title>
<link href="images/logo.png" rel="icon">
<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

@media screen and (min-width: 480px) {
        #l {
            height: 55px;
            width: 55px;
            font-size: 30px;
        }
        #i{
            height: 140px;
            width: 140px;
        }
        #d{
            height: 400px;
            width: 300px;
        }
        
    }
    @media screen and (max-width:479px) {
        #l {
          height: 55px;
            width: 55px;
            font-size: 16px;
        }
        #i{
            height: 100px;
            width: 100px;
        }
        #d{
            height: 300px;
            width: 200px;
        }
        
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#enquiry').modal('show');
    });
</script>

</head>
<body  data-spy="scroll" data-target=".navbar" data-offset="90">

<!--PreLoader-->
<div class="loader">
   <div class="loader-inner">
      <div class="loader-blocks">
         <span class="block-1"></span>
         <span class="block-2"></span>
         <span class="block-3"></span>
         <span class="block-4"></span>
         <span class="block-5"></span>
         <span class="block-6"></span>
         <span class="block-7"></span>
         <span class="block-8"></span>
         <span class="block-9"></span>
         <span class="block-10"></span>
         <span class="block-11"></span>
         <span class="block-12"></span>
         <span class="block-13"></span>
         <span class="block-14"></span>
         <span class="block-15"></span>
         <span class="block-16"></span>
      </div>
   </div>
</div>
<!--PreLoader Ends-->


<!--Some Feature -->  
<section id="home" class="padding single-feature">
    <div class="container">
       <div class="row">
          <div class="col-md-6 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="500ms">
             <div class="heading-title heading_space">
                <!-- <span>Service We Offer</span>   -->
                <!-- <br>
                 <b style="color: maroon">Click here :</b> <marquee behavior="alternate"><h3 style="color: maroon;"><a href="/scholarship-registration-form">Registration For Scholarship Test</a></h3></marquee>
                <br> -->
                <h2 class="darkcolor bottom30">Welcome to Aditya Commerce Classes</h2>
             </div>
             <!-- <p class="bottom35">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p> -->
             <a href="#aboutme" class="button btnsecondary pagescroll" style="background-color:#00bcd4" class="nav-link pagescroll">About Us</a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 wow fadeInRight" data-wow-delay="500ms">
               <img src="images/responsive.png" alt="">
            </div>
          <!-- <div class="col-md-6 col-sm-5 wow fadeInRight" data-wow-delay="500ms">
             <div class="image top50"><img alt="SEO" src="images/responsive.png"></div>
          </div> -->
       </div>
    </div>
 </section>
 <!--Some Feature ends--> 
      <!-- Modal -->
      <div class="container">    
                            
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-dialog-centered" role="document">
           <div class="modal-content">
                           <div class="modal-header" style="background-color:#0683c9">
                                <h4 style="color:white">Login</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                             </div>
                         
                        <div class="modal-body,input-group input-group-lg">
                           <br>
                           <form method="post" action = "/login">
                             <input type="tel" name="userid" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" class="form-control" placeholder="User Id" style="width:80%; margin-left:10%; border-color: #00bcd4; color:black" required>
                             <br>
                             <input type="password" name="password"  class="form-control" placeholder="Password" style="width:80%; margin-left:10%;border-color: #00bcd4; color:black" required><br>
                             <a style="margin-left: 10%; color: #0683c9" href="#forgot" data-toggle="modal"  data-dismiss="modal">Forgot password?</a>
                             <input disabled type="submit" style="margin-left: 29%; border-radius:5%;" class="button btnprimary" style="background-color:#00bcd4" name="" value="Login">  
                             <br><br>
                                             
                    </form>
                                      </div>
          </div>
       </div>
     </div>

</div>
<!-- forgot password-->
<div class="container">    
                        
<div class="modal fade" id="forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
                   <div class="modal-header" style="background-color:#0683c9">
                        <h4 style="color:white">Forgot password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                     </div>
                 
                <div class="modal-body,input-group input-group-lg">
                   <br>
<h5><p style="margin-left: 10%; color: black">Please enter your e-mail address. You will receive an e-mail along with your password which can be used to open your account.</p></h5>
<br/>          
<form method="post" action = "/forgot-password">
  <input type="email" name="email" class="form-control" placeholder="Email" style="width:80%; margin-left:10%"  aria-describedby="sizing-addon1"  required>
  <br>
  <input type="tel" name="mobile" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" class="form-control" placeholder="Phone number" style="width:80%; margin-left:10%"  aria-describedby="sizing-addon1"  required>
  <br>                  
  <center><input disabled type="submit" style=" border-radius:5%;" class="button btnprimary" style="background-color:#0683c9" name="" value="Send"></center>  
  <br>

</form>
</div>
</div>
</div>
</div>

</div> 
    <!-- Enquiry modal-->
    <div class="container">    
                            
            <div class="modal fade" id="enquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content">
                                     <div class="modal-header" style="background-color:#0683c9">
                                          <h4 style="color:white">Get in Touch</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                       </div>
                                  <div class="modal-body">
                                     <form method="post" action = "/enquiry-mail">
                                       <input type="text" name="name" class="form-control" placeholder="Name" style="width:80%; margin-left:10%; border-color: #00bcd4; color:black" required data-error="Please enter your Name">
                                       <br><input type="email" name="email" class="form-control" placeholder="Email-Id" style="width:80%; margin-left:10%; border-color: #00bcd4; color:black" required data-error="Please enter Valid Email-Id">
                                       <br><input type="tel" name="phone" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" class="form-control" placeholder="Phone" style="width:80%; margin-left:10%; border-color: #00bcd4; color:black" required data-error="Please enter your Phone"><br>  
                                      <textarea class="form-control" placeholder="Message" style="width:80%; margin-left:10%; border-color:#00bcd4; color:black;" required data-error="Please enter your Message" name="message"></textarea>
                                      <center><input disabled type="submit" id ="login_btn" class="button btnprimary top50" style="background-color:#00bcd4" name="" value="Send"></center>

                              </form>
                        </div>
                    </div>
                 </div>
               </div></div>




<!-- header -->
<header class="site-header">
   <nav class="navbar navbar-expand-lg fixed-top gradient_bg" >
      <div class="container">
         <a class="navbar-brand" href="/" id="l" style="font-family:Monotype Corsiva, Times, Serif; color:white"><img src="/images/logo.png">&nbsp;&nbsp;Aditya Commerce Classes</a>
         <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
            <span> </span>
            <span> </span>
            <span> </span>
        </button>
        
         <div class="collapse navbar-collapse" id="xenav">
            <ul style="margin-right: -200px;" class="navbar-nav ml-auto">
               <li class="nav-item active">
                  <a class="nav-link pagescroll" href="#home">Home</a> 
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#courses">Courses</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#gallery">Photo Gallery</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#toppers">Toppers</a>
               </li>
               <li class="nav-item">
                <a class="nav-link pagescroll" href="#videos">Videos</a>
             </li>
               <li class="nav-item">
                  <a class="nav-link pagescroll" href="#contact">contact</a>
               </li>
               <div class="nav-item dropdown">
                  <button disabled style="background: transparent; border: none; margin-top: 4px" class="nav-link pagescroll" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Scholarship Test
                  </button>
                  <div class="dropdown-menu" style="width: 50%;" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/scholarship-test-instructions">Class 8<sup>th</sup></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/scholarship-test-instructions">Class 9<sup>th</sup></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/scholarship-test-instructions">Class 10<sup>th</sup></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/scholarship-test-instructions">Class 11<sup>th</sup></a>
                  </div>
                </div>
               <li class="nav-item">
                    <a class="nav-link page-scroll" data-toggle="modal" href="#login">Login</a>
                </li>
            </ul>
         </div>
      </div>

      <!--side menu open button-->
      <!-- <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
          <span></span> <span></span> <span></span>
       </a>
   </nav> -->

   <!-- side menu -->
   <!-- <div class="side-menu">
      <div class="inner-wrapper">
         <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
         <nav class="side-nav">
            <ul class="navbar-nav w-100">
               <li class="nav-item active">
                  <a class="nav-link pagescroll" href="#home">Home</a>
               </li>
               <li class="nav-item">
                <a class="nav-link pagescroll" href="#courses">Courses</a>
             </li>
             <li class="nav-item">
                <a class="nav-link pagescroll" href="#gallery">Photo Gallery</a>
             </li>
             <li class="nav-item">
                <a class="nav-link pagescroll" href="#toppers">Toppers</a>
             </li>
             <li class="nav-item">
                <a class="nav-link pagescroll" href="#videos">Videos</a>
             </li>
             <li class="nav-item">
                <a class="nav-link pagescroll" href="#contact">Contact</a>
             </li>
             <li class="nav-item">
                    <a class="nav-link page-scroll" data-toggle="modal" href="#">Login</a>
                </li>
            </ul>
         </nav>

         <a href="http://www.blackreddish.com/" target="_blank"><p class="whitecolor">&copy; 2019 Designed and Developed by <b>Blackreddish</b></p></a>
      </div>
   </div>
   <a id="close_side_menu" href="javascript:void(0);"></a> -->
   <!-- End side menu -->
</header>
<!-- header -->
<!-- Pricing Tables -->
<section id="courses" class="padding pricing-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-8 offset-md-2 col-sm-12 text-center">
             <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
                <!-- <span>Choose The Best One</span> -->
                <h2 class="bottom30">Subjects we provide..</h2>
                </div>
          </div>
       </div>
       <div class="row centered-table">
          <div class="col-md-3 col-sm-12">
             <div class="price-table top60 wow fadeIn" data-wow-delay="100ms">
                <h3 class="bottom20 darkcolor">Accountancy</h3><pre>    </pre>
                <div class="clearfix"></div>
                <!-- <div class="ammount top50">
                   <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 9.99</h2>
                </div> -->
                <a class="button btnprimary top50" style="background-color:#00bcd4" data-toggle="collapse" href="#c1" aria-controls="collapseExample">
                      Details
                    </a>
            </div>
            <div class="collapse" id="c1">
                <div class="card card-body">
                <h4 style="color:black">classes provided for class 11<sup>th</sup> and 12<sup>th</sup>.</h4>  
               <br>
               <a class="nav-link pagescroll" href="#contact" style="color:#00bcd4">More details </a>
                </div>
              </div> 
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="price-table top60 wow fadeInUp" data-wow-delay="200ms">
               <h3 class="bottom20 darkcolor">Business Studies</h3>
               <div class="clearfix"></div>
               <!-- <div class="ammount top50">
                  <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 99.99 </h2>
               </div> -->
               <a class="button btnprimary top50" style="background-color:#00bcd4" data-toggle="collapse" href="#c2" aria-controls="collapseExample">
                Details
              </a>
      </div>
      <div class="collapse" id="c2">
          <div class="card card-body">
            <h4 style="color:black">classes provided for class 11<sup>th</sup> and 12<sup>th</sup>.</h4>  
               <br>
               <a class="nav-link pagescroll" href="#contact" style="color:#00bcd4">More details </a>
                </div>
        </div>
         </div>
          <div class="col-md-3 col-sm-12">
             <div class="price-table top60 wow fadeInUp" data-wow-delay="300ms">
                <h3 class="bottom20 darkcolor">Economics</h3><pre>    </pre>
                
                <div class="clearfix"></div>
                <!-- <div class="ammount top50">
                   <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 99.99 </h2>
                </div> -->
                <a class="button btnprimary top50" style="background-color:#00bcd4" data-toggle="collapse" href="#c3" aria-controls="collapseExample">
                    Details
                  </a>
          </div>
          <div class="collapse" id="c3">
              <div class="card card-body">
                <h4 style="color:black">classes provided for class 11<sup>th</sup> and 12<sup>th</sup>.</h4>  
                <br>
                <a class="nav-link pagescroll" href="#contact" style="color:#00bcd4">More details </a>
                 </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="price-table top60 wow fadeInUp" data-wow-delay="400ms">
               <h3 class="bottom20 darkcolor">English</h3><pre>    </pre>
               <div class="clearfix"></div>
               <!-- <div class="ammount top50">
                  <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 99.99 </h2>
               </div> -->
               <a class="button btnprimary top50" style="background-color:#00bcd4" data-toggle="collapse" href="#c4" aria-controls="collapseExample">
                Details
              </a>
      </div>
      <div class="collapse" id="c4">
          <div class="card card-body">
            <h4 style="color:black">classes provided for class 9<sup>th</sup> to 12<sup>th</sup>.</h4>  
               <br>
               <a class="nav-link pagescroll" href="#contact" style="color:#00bcd4">More details </a>
                </div>
        </div>
         </div>
       </div>
    </div>
 </section>
 <!--Pricing Tables ends-->
 
<!-- Counters -->  
<section id="funfacts" class="padding_top fact-iconic gradient_bg">
    <div class="container">
       <div class="row">
          <div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
             <h3 class="bottom25">Our many years of experience in numbers</h3>
             <p class="title">We show you our professional achievements in numbers, which show the acquired skills and trust of many students.</p>
          </div>
          <div class="col-md-7 col-sm-12 text-center">
             <div class="row">
                <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom  wow fadeInRight" data-wow-delay="400ms">
                   <div class="img-icon bottom15">
                      <i class="fa fa-calendar"></i>
                   </div>
                   <div class="counters">
                      <span class="count_nums" data-to="2008" data-speed="2500"> </span></i>
                   </div>
                   <p class="title">Established</p>
                </div>
                <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInRight" data-wow-delay="350ms">
                   <div class="img-icon bottom15">
                      <i class="fa fa-smile-o"> </i>
                   </div>
                   <div class="counters">
                      <span class="count_nums" data-to="2500" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                   </div>
                   <p class="title">Happy Students</p>
                </div>
                <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInRight" data-wow-delay="300ms">
                   <div class="img-icon bottom15">
                      <i class="fa fa-trophy"></i>
                   </div>
                   <div class="counters">
                      <span class="count_nums" data-to="225" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                   </div>
                   <p class="title">Rank Holders</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--Counters ends--> 
 
 <!--Gallery-->
<section id="gallery" class="bglight padding">
    <div class="container">
     <div class="row">
          <div class="col-md-8 offset-md-2 col-sm-12 col-12 text-center">
             <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                <!-- <span>Portfolio Designs</span> -->
                <h1 class="darkcolor bottom10">Photo Gallery</h1>
                <br></div>
          </div>
       </div>
       <div id="flat-gallery" class="cbp">
          <div class="cbp-item itemshadow">
             <img src="images/p1.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p1.jpg"></a>
                
             </div>
          </div>
          <div class="cbp-item itemshadow">
            <img src="images/p2.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p2.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p3.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p3.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p4.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p4.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p5.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p5.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p6.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p6.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p7.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p7.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p8.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p8.jpg"></a>
               
            </div>
         </div>
         <div class="cbp-item itemshadow">
            <img src="images/p9.jpg" alt="">
            <div class="overlay center-block whitecolor">
               <a class="plus" data-fancybox="gallery" href="images/p9.jpg"></a>
               
            </div>
         </div>
         
          <div class="cbp-item itemshadow">
             <img src="images/p10.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p10.jpg"></a>
                
             </div>
          </div> 
          <div class="cbp-item itemshadow">
             <img src="images/p11.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p11.jpg"></a>
                
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="images/p12.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p12.jpg"></a>
                
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="images/p13.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p13.jpg"></a>
                
             </div>
          </div>
          <div class="cbp-item itemshadow">
             <img src="images/p14.jpg" alt="">
             <div class="overlay center-block whitecolor">
                <a class="plus" data-fancybox="gallery" href="images/p14.jpg"></a>
                
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--Gallery ends -->         
 
<!-- Testimonials -->  
<section id="toppers" class="padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12 text-center">
             <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms">
                <!-- <span>Testimonials</span> -->
                <h1 class="darkcolor">Toppers</h1>
             </div>
          </div>
       </div>
       <h3 class="darkcolor text-center">(2018-2019)</h3>
       <div class="row">
          <div class="col-md-12 col-sm-12 col-12">
             <div id="testimonial-slider" class="owl-carousel">
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                         <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-1.jpg"></div>
                      
                   </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-2.jpg"></div>
                                         </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                      
                   </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-1.jpg"></div>
                                         </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-2.jpg"></div>
                                         </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                                        </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-1.jpg"></div>
                      
                   </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                      
                   </div>
                </div>
                <div class="item">
                   <div class="testimonial-wrapp">
                      <span class="quoted" style="background-color:#0683c9"><i class="fa fa-quote-right"></i></span>
                      <div class="testimonial-text">
                        <p style="font-size:15px;">You may be next !!</p>
                      </div>
                      <div class="testimonial-photo"><img alt="" src="images/testimonial-3.jpg"></div>
                      
                   </div>
                </div>
             </div>
          </div>
       </div><br><br><br>

       <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                2017-2018
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div>
                <div class="row">
        <div><img id="i" src="images/aman2017-18.jpg" alt=""><br><p class="text-center">Aman <br> Accounts 72<br>Economics 91<br> Business 83<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/bhavishya2017-18.jpg" alt=""><br><p class="text-center"> Bhavishya <br> Accounts 65<br>Economics 73<br> Business 94<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/devanshi2017-18.jpg" alt=""><br><p class="text-center"> Devanshi <br> Accounts 61<br>Economics 75<br> Business 90<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/hardik2017-18.jpg" alt=""><br><p class="text-center"> Hardik<br> Accounts - <br>Economics - <br> Business - <br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/priyanshu2017-18.jpg" alt=""><br><p class="text-center">Priyanshu <br> Accounts 74<br>Economics 85<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/harish2017-18.jpg" alt=""><br><p class="text-center">Harish<br> Accounts - <br>Economics - <br> Business - <br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/neha2017-18.jpg" alt=""><br><p class="text-center">Neha <br> Accounts 92<br>Economics 94<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/sanskar2017-18.jpg" alt=""><br><p class="text-center">Sanskar <br>Accounts 87<br>Economics 97<br> Business 85<br></p></div>&nbsp;&nbsp;&nbsp;&nbsp;<div><img id="i" src="images/sudhir2017-18.jpg" alt=""><br><p class="text-center">Sudhir <br> Accounts 84<br>Economics 90<br> Business 75<br></p></div>&nbsp;&nbsp;&nbsp;&nbsp;<div><img id="i" src="images/vaibhav2017-18.jpg" alt=""><br><p class="text-center"> Vaibhav <br> Accounts 85<br>Economics 84<br> Business 80<br></p></div>&nbsp;&nbsp;&nbsp;&nbsp;<div><img id="i" src="images/mahavir2017-18.jpg" alt=""><br><p class="text-center">Mahavir <br> Accounts 76<br>Economics 92<br> Business 94<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/tarun2017-18.jpg" alt=""><br><p class="text-center">Tarun <br>Accounts 79<br>Economics 97<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/palak2017-18.jpg" alt=""><br><p class="text-center">Palak <br> Accounts 75<br>Economics 72<br> Business 92<br></p></div></div></div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2016-2017
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
            <div>
                <div class="row">
                <div><img id="i" src="images/nishtha2016-17.jpg" alt=""><br><p class="text-center">Nishtha <br> Accounts 95<br>Economics 99<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/monika2016-17.jpg" alt=""><br><p class="text-center">Monika <br> Accounts 95<br>Economics 80<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/lavee2016-17.jpg" alt=""><br><p class="text-center">Lavee <br> Accounts 95<br>Economics 85<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/sheetal2016-17.jpg" alt=""><br><p class="text-center">Sheetal <br> Accounts 89<br>Economics 89<br> Business 80<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/udit2016-17.jpg" alt=""><br><p class="text-center">Udit <br> Accounts 82<br>Economics 86<br> Business 83<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/kanha2016-17.jpg" alt=""><br><p class="text-center">Kanha <br> Accounts 95<br>Economics -<br> Business 84<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/user.png" alt=""><br><p class="text-center">Aastha <br> Accounts 84<br>Economics 84<br> Business 94<br></p></div>&nbsp;&nbsp;</div></div></div> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                2015-2016
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                        <div>
                            <div class="row">
                            <div><img id="i" src="images/laveena2015-16.jpg" alt=""><br><p class="text-center">Laveena <br> Accounts 95<br>Economics 95<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/yanshu2015-16.jpg" alt=""><br><p class="text-center">Yanshu <br>Accounts 95<br>Economics 80<br> Business 91<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/akshita2015-16.jpg" alt=""><br><p class="text-center">Akshita <br> Accounts 100<br>Economics 99<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/user.png" alt=""><br><p class="text-center">Jyoti <br> Accounts 93<br>Economics 81<br> Business 88<br></p></div>&nbsp;&nbsp;</div></div></div> 
                        </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  2014-2015
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                          <div>
                              <div class="row">
                              <div><img id="i" src="images/nikita2014-15.jpg" alt=""><br><p class="text-center">Nikita <br> Accounts 95<br>Economics 95<br> Business 95<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/user.png" alt=""><br><p class="text-center">Himanshu <br>Accounts 95<br>Economics 80<br> Business 91<br></p></div>&nbsp;&nbsp;<div><img id="i" src="images/harshita2014-15.jpg" alt=""><br><p class="text-center">Harshita <br> Accounts 90<br>Economics 88<br> Business 95<br></p></div>&nbsp;&nbsp;</div></div></div> 
                          </div>
            </div>
        </div>
      </div>
    </div>
 </section>

 <!--Testimonials Ends-->
 
<!-- Mobile Apps -->  
<section id="aboutme" class="padding">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
             <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                <!-- <span>Yes We Provide Mobile Apps</span> -->
                </div>
          </div>
       </div>
       <div class="row" id="app-feature">
          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="content-left clearfix">
                <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Best Curriculum</h4>
                      <p>We are dedicated to provide the well managed and result oriented study and the best in the class Curriculum for our students.</p>
                   </div>
                </div>
                <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Intellectual Development</h4>
                      <p>We are committed to full fill the student desire and provide the best carrier counselling.</p>
                   </div>
                </div>
                <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Scholarship</h4>
                      <p>Scholarship for meritorious students</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="image feature-item text-center wow fadeIn" data-wow-delay="500ms">
                <br><img id="d" src="images/responsive2.png" alt="">
             </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
             <div class="content-right clearfix">
                <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Ideal Education</h4>
                      <p>We are ready to fulfill the promises which we have kept to provide the knowledge by which the students can make there own platform in relevant subject.</p>
                   </div>
                </div>
                <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Remedial Classes</h4>
                      <p>Remedial classes is also available for weak students. </p>
                   </div>
                </div>
                <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
                   <span class="icon"><i class="fa fa-edit"></i></span>
                   <div class="text">
                      <h4>Smart Classes</h4>
                      <p>The various types of concept of study providing through smart classes.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>                                                                                 
 <!--Mobile Apps ends-->  
    
  
<!-- Background Parallax -->  
<div id="videos">
<section id="video-parallax" class="video-parallax padding parallaxie">
   <div class="container">
      <div class="row">
         <div class="col-md-7 col-sm-7">
            <div class="heading-title whitecolor text-md-left text-center wow fadeIn" data-wow-delay="500ms">
               <span>We have an excellent story</span>
               <h2 class="fontregular">Watch Our Video</h2>
               <a href="https://www.youtube.com/channel/UChC9L7UQPT7mi80kZ9rzG8Q" target="_blank" class="button btnprimary fontmedium top20"><i class="fa fa-play"></i> &nbsp;Play Now</a>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
<!--Background Parallax-->     
<!-- Contact US -->  
<section id="contact" class="padding_top">
   <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
           <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
               <!-- <span>Lets Get In Touch</span> -->
               <h2 class="darkcolor">Contact Us</h2>
            </div>
        </div>
         <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
            <div class="row">
               <div class="col-md-9 col-sm-6 our-address top40">
                  <h5 class="bottom25">Mr. Aditya Jain</h5>
                  <p class="bottom15">H.no. 1933 Mohalla Kheda, Near Water tank, Kosi Kalan, Mathura</p>
               </div>
               <div class="col-md-6 col-sm-6 our-address top40">
                  <h5 class="bottom25">Our Phone</h5>
                  <p class="bottom15">Mobile : 9897165055<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8923796396 <span class="block">
                     
                  </span> </p>
               </div>
               <div class="col-md-12 col-sm-6 our-address top40">
                  <h5 class="bottom25">Our Email</h5>
                  <p class="bottom15">adityacommerceclasses@gmail.com </p>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-sm-12 margin_bottom">
            <form class="getin_form wow fadeInUp" action="/enquiry-mail" method="POST" data-wow-delay="400ms">
               <div class="row">

                  <div class="col-sm-12" id="result"></div>

                  <div class="col-md-12 col-sm-12">
                     <div class="form-group bottom35">
                        <input class="form-control" type="text" placeholder="Name:" required name="name">
                     </div>
                  </div>

                  <div class="col-md-12 col-sm-12">
                     <div class="form-group bottom35">
                        <input class="form-control" type="email" placeholder="Email:" required name="email">
                     </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                     <div class="form-group bottom35">
                        <input class="form-control" type="tel" placeholder="Phone:" pattern="[1-9]{1}[0-9]{9}" title="Enter 10 digit mobile number" id="phone" name="phone">
                     </div>
                  </div>
                  <div class="col-md-12 col-sm-12">
                     <div class="form-group bottom35">
                        <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
                     </div>
                  </div>
                  <div class="col-sm-12">
                     <button disabled type="submit" class="button btnprimary">submit request</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
<!--Contact US Ends-->                    
      
<!--Site Footer Here-->
<footer id="site-footer">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12 text-center">
            <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
               <li><a href="https://www.facebook.com/profile.php?id=100013802290123&fref=search&__tn__=%2Cd%2CP-R&eid=ARA-YxJf6XGHsFkU-d-oewjB9tBKOxBbxpebpc1zqIGmk91SVef86Z2lXJ0NhaLgsoB-0hoLAVWIH9o8" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
               <li><a href="mailto:adityacommerceclasses@gmail.com?subject=Ask%20a%20Query" target="_blank"><i class="fa fa-envelope-o"></i> </a> </li>
               </ul>
         <a href="http://www.blackreddish.com/" target="_blank"><p class="copyrights wow fadeInUp" data-wow-delay="400ms"> &copy; 2019 Designed and Developed by <b>Blackreddish</b></p></a>
         </div>
      </div>
   </div>
</footer>
<!--Footer ends-->   


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.1.1.min.js"></script>

<!--Bootstrap Core-->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!--to view items on reach-->
<script src="js/jquery.appear.js"></script>

<!--Equal-Heights-->
<script src="js/jquery.matchHeight-min.js"></script>

<!--Owl Slider-->
<script src="js/owl.carousel.min.js"></script>

<!--number counters-->
<script src="js/jquery-countTo.js"></script>
 
<!--Parallax Background-->
<script src="js/parallaxie.js"></script>
  
<!--Cubefolio Gallery-->
<script src="js/jquery.cubeportfolio.min.js"></script>

<!--FancyBox popup-->
<script src="js/jquery.fancybox.min.js"></script>         

<!-- Video Background-->
<script src="js/jquery.background-video.js"></script>

<!--TypeWriter-->
<script src="js/typewriter.js"></script> 
      
<!--Particles-->
<script src="js/particles.min.js"></script>            
        
<!--WOw animations-->
<script src="js/wow.min.js"></script>
             
<!--Revolution SLider-->
<script src="js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="js/revolution/extensions/revolution.extension.video.min.js"></script>  
		
<!--Google Map API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ97zN_MClQ8BnmJJOCY165S2QEYvbIis"></script>
<script src="js/functions.js"></script>	
</body>
</html>